# Root .gitignore
.DS_Store

# Node / JS
node_modules/
**/node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*
*.tsbuildinfo
.pnpm-store/

# Build outputs
dist/
build/
.expo/
.next/
ios/

# Logs
logs
*.log
**/*.log

# OS / IDE
.DS_Store
.idea/
.vscode/

# Env / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.ruff_cache/

# DB / local data
**/*.db
*.dump
server/src/

# Xcode
*.xcodeproj/
*.xcworkspace/
*.xcuserdata/
*.xcuserstate
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
